---
permalink: /
title: BGM
---

<section id="welcome">
    <div class="container">
        <h1>Hello!</h1>
        <hr/>
        <p>
            <b>Welcome!</b> I'm José Benavente, better known for my pseudonym <q>BGM</q>, and this is my humble site on
            the web. I'm a software developer with a great passion for video game design, software localisation,
            and for building communities full of amazing people! I spend most of my free time studying and implementing
            game engines from the 90's, writing technical content on programming and technology, and localising
            projects.
        </p>
    </div>
</section>

<section id="languages-and-tools">
    <div class="container">
        <h1>I work with</h1>
        <hr/>

        <div class="icons">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/c.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="C Programming Language"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/cpp.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="C++ Programming Language"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/java.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Java Programming Language"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/python.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Python Programming Language"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/ruby.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Ruby Programming Language"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/rails.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Ruby on Rails"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/git.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Git Version Control"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/mysql.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="MySQL Databases"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/mongodb.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="MongoDB Databases"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/redis.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Redis Cache"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/docker.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Docker Containers"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/sass.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Sass Stylesheets"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gallery">
    <div class="container">
        <h1>Gallery</h1>
        <hr/>

        <div class="popup-gallery">
            <div class="row">
                {% for image in site.static_files %}
                    {% if image.path contains 'img/gallery' %}
                        <div class="col-sm-12 col-md-6 col-lg-2 justify-content-xl">
                            <a href="{{ site.url }}/assets/img/gallery/{{ image.name }}" title="RVGL (OpenGL, C++)" description=""><img src="{{ site.url }}/assets/img/gallery/{{ image.name }}"></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script src="{{ site.url }}/assets/js/gallery.js"></script>
