<footer>
    <div class="container">
        <hr/>
        <div class="row" style="align-items: center">
            <div class="col-12 col-md-7">
                <span class="copyright">
                    © BGM 2024
                </span>
            </div>
            <div class="col-12 col-md-5">
                <ul class="nav justify-content-md-end">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/BGMP" target="_blank">
                            <img src="{{ site.url }}/assets/img/github-logo.png" height="22" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://gitlab.com/BGMP" target="_blank">
                            <img src="{{ site.url }}/assets/img/gitlab-logo.png" height="22" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://linkedin.com/in/BGMP" target="_blank">
                            <img src="{{ site.url }}/assets/img/linkedin-logo.png" height="25" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <br/>
    </div>
</footer>
