<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 order-1" id="sticky-sidebar">
    <nav id="side-nav" class="nav flex-column">
        <div class="card">
            <small class="card-header">What's this blog about?</small>
            <div class="card-body">
                <p>This is my personal blog. You'll find me writing content on programming, technology, and more!</p>
                <p>See my <a href="{{ site.baseurl }}/blog/2023/09/17/welcome">Welcome post</a>.</p>

                Reddit: <a href="https://www.reddit.com/user/BGMP" target="_blank">u/BGMP</a><br/>
                dev.to: <a href="https://dev.to/BGM" target="_blank">@bgm</a>
            </div>
        </div>
        <div class="card">
            <small class="card-header">Projects</small>
            <div class="card-body">
                <ul>
                    <li><a href="https://rvgl.org/" target="_blank">RVGL</a></li>
                    <li><a href="https://re-volt.gitlab.io/rvgl-launcher/" target="_blank">RVGL Launcher</a></li>
                    <li><a href="https://rva.lat/" target="_blank">Re-Volt America</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
