#nav {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

  .navbar-top {
    margin-left: 1rem;
  }

  .navbar-brand {
    font-weight: bold;
    margin-bottom: -35px;
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;

    small {
      font-size: 18px;
    }
  }

  .navbar-spacer {
    hr {
      margin-bottom: 0;
      padding: 0 0;
    }
  }

  .navbar-main {
    margin-top: -10px;
    font-size: 16px;
  }

  .navbar-toggler {
    padding: var(--bs-border-width);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: transparent;
    background-color: transparent;
    border: var(--bs-border-width) solid var(--color-border);
    border-radius: 0;
    transition: var(--bs-navbar-toggler-transition);
    margin-top: 10px;
    width: 100%;
  }

  .nav-item {
    margin-top: 2px;

    .active {
      font-weight: bold;
    }
  }

  .nav-item:hover {
    outline: 1px solid var(--color-text);
  }

  .navbar-nav > li > .dropdown-menu a:hover {
    color: var(--color-text);
  }

  .navbar-nav > li > .dropdown-menu a:focus {
    color: var(--color-text);
  }

  .nav-link:focus, .nav-link:hover {
    color: var(--color-text);
  }

  .nav-link {
    color: var(--color-text);
    transition: color 0s ease-in-out,background-color 0s ease-in-out,border-color 0s ease-in-out;
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .btn-success {
    --bs-btn-color: var(--color-text);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--color-text);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--color-text);
    --bs-btn-focus-shadow-rgb: var(--color-text);
    --bs-btn-active-color: var(--color-text);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--color-text);
    --bs-btn-active-shadow: inset 0 3px 5px var(--color-text);
    --bs-btn-disabled-color: var(--color-text);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--color-text);
    border-radius: 0;
    transition: color 0s ease-in-out,background-color 0s ease-in-out,border-color 0s ease-in-out;
  }

  .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
  }

  .dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: var(--bs-dropdown-spacer);
    background-color: transparent;
    border-color: var(--color-text);
    border-radius: 0;

    a {
      color: var(--color-text);
    }
  }

  .locale-flag {
    height: 29px;
    width: 29px;
  }

  .dropdown-item:hover {
    color: var(--color-background) !important;
    background-color: var(--color-text);
  }
}
