#portfolio {
  margin-top: 20px;

  h1 {
    font-size: 30px;
  }

  a {
    color: var(--color-text)
  }

  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: calc(var(--bs-gutter-x) * 3.5);
    padding-left: calc(var(--bs-gutter-x) * 3.5);
  }

  #portfolio-gallery {
    margin-top: 40px;

    .btn-primary, .btn-outline-primary {
      --bs-btn-color: var(--color-text);
      --bs-btn-bg: transparent;
      --bs-btn-border-color: var(--color-text);
      --bs-btn-hover-color: var(--color-text);
      --bs-btn-hover-bg: transparent;
      --bs-btn-hover-border-color: var(--color-text);
      --bs-btn-focus-shadow-rgb: 49,132,253;
      --bs-btn-active-color: var(--color-text);
      --bs-btn-active-bg: transparent;
      --bs-btn-active-border-color: var(--color-text);
      --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      --bs-btn-disabled-color: var(--color-text);
      --bs-btn-disabled-bg: transparent;
      --bs-btn-disabled-border-color: black;
    }

    .btn-group-sm > .btn, .btn-sm {
      --bs-btn-padding-y: 0.25rem;
      --bs-btn-padding-x: 0.5rem;
      --bs-btn-font-size: 0.875rem;
      --bs-btn-border-radius: 0;
      margin-bottom: 1px;
    }

    .btn-outline-primary {
      --bs-btn-hover-color: var(--color-background);
      --bs-btn-hover-bg: var(--color-text);
      --bs-btn-hover-border-color: var(--color-text);
      margin-bottom: 10px;
    }

    .btn-outline-primary:hover {
      color: var(--color-text);
      text-decoration: none;
      background-color: transparent;
    }

    .gallery-entry {
      margin-bottom: 80px;
    }

    .gallery-entry-title {
      h4 {
        font-weight: bold;
      }
    }

    .gallery-entry-labels {
      .btn {
        user-select: text;
        cursor: text;
      }
    }

    .gallery-entry-description {
      margin-top: 7px;
    }
  }
}
