---
---

@import "about";
@import "bio";
@import "blog";
@import "index";
@import "nav";
@import "portfolio";
@import "post";
@import "side-nav";

@import "font-awesome/font-awesome";
@import "magnific-popup/magnific-popup";

@font-face {
  font-family: Baskerville;
  src: url("./fonts/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: Baskerville-Bold;
  src: url("./fonts/LibreBaskerville-Bold.ttf");
}

@font-face {
  font-family: Baskerville-Italic;
  src: url("./fonts/LibreBaskerville-Italic.ttf");
}

:root {
  --color-text: #3b3f48;
  --color-background: #f7f8fa;
  --color-background-dim: #F7F8FA;
  --color-border: #c6c7c8;
}

.dark-theme {
  --color-text: #ADBAC7;
  --color-background: #0f111a;
  --color-background-dim: #1a1b2f;
  --color-border: #929292;

  a {
    color: #809fff;
  }

  #nav .navbar-toggler-icon {
    -webkit-filter: invert(1);
    filter: invert(1);
  }

  footer {
    img {
      -webkit-filter: invert(1);
      filter: invert(1);
    }
  }
}

body {
  font-family: Baskerville, serif;
  font-size: 14px;
  color: var(--color-text);
  background-color: var(--color-background);
}

hr {
  border-top: 1px solid var(--color-text);
  opacity: 0.5;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 2.5);
  padding-left: calc(var(--bs-gutter-x) * 2.5);
  margin-right: auto;
  margin-left: auto;
}

.img-thumbnail {
  border-radius: 0;
}

@media (max-width: 576px) {
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
}
