---
layout: blog
---

<div class="container">
    <a class="header-at-article" href="{{ site.baseurl }}/blog">BGM's Museum</a>
    <hr/>
</div>

<article class="container">
    <br/>
    <div class="card">
        <small class="card-header">Published on {{ page.date | date: '%B %e, %Y' }}</small>
        <div class="card-body">
            <nav>
                <a href="{{ site.baseurl }}/blog" class="go-back">&laquo; Back</a>
            </nav>
            <br/>
            <h5><b>{{ page.title }}</b></h5>
            <p class="card-text">{{ content }}</p>
            <nav>
                <a href="{{ site.baseurl }}/blog" class="go-back">&laquo; Back</a>
                <a href="{{ page.discussion }}" target="_blank" class="comment">Comment</a>
            </nav>
        </div>
    </div>
</article>

<script src="{{ site.url }}/assets/js/post.js"></script>
